<div class="container">
  <div class="header">
    <h1>Wikinimous</h1>
    <%= link_to "Home", articles_path, class: "btn btn-ghost" %>
  </div>

<div class="content">
  <div class="title-box">
    <h1><%= @article.title %></h1>
    <h2>
      <%= link_to ('<i class="fa-regular fa-pen-to-square"></i>').html_safe, edit_article_path  %>
      <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe,  article_path(@article),
      data: { turbo_method: :delete, turbo_confirm: "Delete #{@article.title}?" } %>
    </h2>
  </div>
  <p><%= @article.content %></p>


</div>
